<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img height="15px" src="https://jwt.io/img/pic_logo.svg" alt="logo">
        JWT Demo
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/signup">Sign Up</a>
            <a class="nav-item nav-link active" href="/">Dashboard</a>
        </div>
    </div>
</nav>

{{!-- Modal --}}
<div class="modal fade" id="jwt-modal" tabindex="-1" aria-labelledby="jwt-modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="jwt-modal-title"> <i class="fas fa-qrcode"></i> Decoded Json Webtoken</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="input-group">
                    <label>Jwt Header</label>
                    <textarea class="form-control" name="jwt-head" id="jwt-head"
                        style="width: 100%; padding: 0.25rem 1rem;" rows="1"></textarea>
                </div>

                <div class="input-group">
                    <label>Jwt Payload</label>
                    <textarea class="form-control" name="jwt-payload" id="jwt-payload"
                        style="width: 100%; padding: 0.25rem 1rem;" rows="8"></textarea>
                </div>

                <div class="input-group">
                    <label>Jwt Signature</label>
                    <textarea class="form-control" name="jwt-signature" id="jwt-signature"
                        style="width: 100%; padding: 0.25rem 1rem;" rows="1"></textarea>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {{!-- <button type="button" class="btn btn-primary" id="jwt-decode">Get JWT Content</button> --}}
            </div>
        </div>
    </div>
</div>
{{!-- /Modal --}}

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-lg-6 col-sm-10">

            <div class="card mt-4">
                <div class="card-header">
                    <h1 class="h3">Hello {{name}}!</h1>
                </div>
                <div class="card-body">
                    <h2 class="h4 text-center">About this session</h2>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">There is a token present, saved as a cookie named <b>htaccess</b>
                        </li>
                        <li class="list-group-item">The requested token is meant to be for the {{audBy}} role.</li>
                        <li class="list-group-item">It will expire at {{expire}} <br> ( set to be 15 minutes from the
                            moment
                            you requested it )</li>
                        <li class="list-group-item">After it has expired, you will need to request a new one to access
                            this site.</li>
                    </ul>
                    <button id="home-delete-jwt-cookie" class="btn btn-outline-danger mt-4">
                        <i class="fas fa-cookie-bite"></i>
                        Delete JWT cookie
                    </button>
                    <button id="jwt-decode" type="button" class="btn btn-primary mt-4 float-right" data-toggle="modal"
                        data-target="#jwt-modal">
                        Show JWT's content
                    </button>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
</div>