<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img height="15px" src="https://jwt.io/img/pic_logo.svg" alt="logo">
        JWT Demo
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/signup">Sign Up</a>
            <a class="nav-item nav-link active" href="/">Dashboard</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-lg-6 col-sm-10">

            <div class="card mt-4">
                <div class="card-header">
                    <h1 class="h3">Hello {{name}}!</h1>
                </div>
                <div class="card-body">
                    <h2 class="h4 text-center">About this session</h2>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">There is a token present, saved as a cookie named <b>htaccess</b>
                        </li>
                        <li class="list-group-item">The requested token is meant to be for the {{audBy}} role.</li>
                        <li class="list-group-item">It will expire at {{expire}} <br> ( set to be 15 minutes from the
                            moment
                            you requested it )</li>
                        <li class="list-group-item">After it has expired, you will need to request a new one to access
                            this site.</li>
                    </ul>
                    <button id="home-delete-jwt-cookie" class="btn btn-outline-danger mt-4">
                        <i class="fas fa-cookie-bite"></i>
                        Delete JWT cookie
                    </button>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
</div>