<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img height="15px" src="https://jwt.io/img/pic_logo.svg" alt="logo">
        JWT Demo
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/signup">Sign Up</a>
            <a class="nav-item nav-link" href="/">Dashboard</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-lg-4 col-sm-10 pt-4">

            <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fvignette2.wikia.nocookie.net%2Ffallout%2Fimages%2F5%2F5b%2FOh-you-Dog.jpg%2Frevision%2Flatest%3Fcb%3D20130213155526&f=1&nofb=1"
                alt="not-found" class="mt-4 img-fluid">
            <h1 class="h2 text-center">#404</h1>
            <h2 class="h3 text-center">This page is probably not the one you're looking for.</h2>
            <a href="/">
                <button class="btn btn-dark mt-4" style="width: 100%;">Back Home</button>
            </a>
        </div>
        <div class="col"></div>
    </div>
</div>
</div>